body {
  margin: 0;
  font-family: Arial;
	font-size: 13px;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("../resources/images/background/bg-flats-history.jpg");
}

.flat {
	color: #FF4000;
	padding-left: 5%;
	padding-right: 5%;
}

hr {
	color: #FF4000;
}

table.main {
	margin-left: 5%;
}

table.main td {
	border: 0px;
	padding-right: 5px;
	padding-top: 5px;
	vertical-align: top;
}

.title {
	font-weight: bold;
}